<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A1</key>
	<string>A1_.glif</string>
	<key>A2</key>
	<string>A2_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B1</key>
	<string>B1_.glif</string>
	<key>B2</key>
	<string>B2_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C1</key>
	<string>C1_.glif</string>
	<key>C2</key>
	<string>C2_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D1</key>
	<string>D1_.glif</string>
	<key>D2</key>
	<string>D2_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E1</key>
	<string>E1_.glif</string>
	<key>E2</key>
	<string>E2_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F1</key>
	<string>F1_.glif</string>
	<key>F2</key>
	<string>F2_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G1</key>
	<string>G1_.glif</string>
	<key>G2</key>
	<string>G2_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H1</key>
	<string>H1_.glif</string>
	<key>H2</key>
	<string>H2_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I1</key>
	<string>I1_.glif</string>
	<key>I2</key>
	<string>I2_.glif</string>
	<key>I3</key>
	<string>I3_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J1</key>
	<string>J1_.glif</string>
	<key>J2</key>
	<string>J2_.glif</string>
	<key>J3</key>
	<string>J3_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L1</key>
	<string>L1_.glif</string>
	<key>L2</key>
	<string>L2_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M1</key>
	<string>M1_.glif</string>
	<key>M2</key>
	<string>M2_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O1</key>
	<string>O1_.glif</string>
	<key>O2</key>
	<string>O2_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P1</key>
	<string>P1_.glif</string>
	<key>P2</key>
	<string>P2_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R1</key>
	<string>R1_.glif</string>
	<key>R2</key>
	<string>R2_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S1</key>
	<string>S1_.glif</string>
	<key>S2</key>
	<string>S2_.glif</string>
	<key>S3</key>
	<string>S3_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T1</key>
	<string>T1_.glif</string>
	<key>T2</key>
	<string>T2_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V1</key>
	<string>V1_.glif</string>
	<key>V2</key>
	<string>V2_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W1</key>
	<string>W1_.glif</string>
	<key>W2</key>
	<string>W2_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a1</key>
	<string>a1.glif</string>
	<key>a2</key>
	<string>a2.glif</string>
	<key>arrow-right</key>
	<string>arrow-right.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk2</key>
	<string>asterisk2.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c1</key>
	<string>c1.glif</string>
	<key>c2</key>
	<string>c2.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight2</key>
	<string>eight2.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five1</key>
	<string>five1.glif</string>
	<key>five2</key>
	<string>five2.glif</string>
	<key>five3</key>
	<string>five3.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four1</key>
	<string>four1.glif</string>
	<key>four2</key>
	<string>four2.glif</string>
	<key>four3</key>
	<string>four3.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g1</key>
	<string>g1.glif</string>
	<key>g2</key>
	<string>g2.glif</string>
	<key>great3</key>
	<string>great3.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greater1</key>
	<string>greater1.glif</string>
	<key>greater2</key>
	<string>greater2.glif</string>
	<key>greater4</key>
	<string>greater4.glif</string>
	<key>greater5</key>
	<string>greater5.glif</string>
	<key>greater6</key>
	<string>greater6.glif</string>
	<key>greater7</key>
	<string>greater7.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i1</key>
	<string>i1.glif</string>
	<key>i10</key>
	<string>i10.glif</string>
	<key>i2</key>
	<string>i2.glif</string>
	<key>i3</key>
	<string>i3.glif</string>
	<key>i4</key>
	<string>i4.glif</string>
	<key>i5</key>
	<string>i5.glif</string>
	<key>i6</key>
	<string>i6.glif</string>
	<key>i7</key>
	<string>i7.glif</string>
	<key>i8</key>
	<string>i8.glif</string>
	<key>i9</key>
	<string>i9.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j1</key>
	<string>j1.glif</string>
	<key>j3</key>
	<string>j3.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l1</key>
	<string>l1.glif</string>
	<key>l2</key>
	<string>l2.glif</string>
	<key>l3</key>
	<string>l3.glif</string>
	<key>l4</key>
	<string>l4.glif</string>
	<key>l5</key>
	<string>l5.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less1</key>
	<string>less1.glif</string>
	<key>less2</key>
	<string>less2.glif</string>
	<key>less3</key>
	<string>less3.glif</string>
	<key>less4</key>
	<string>less4.glif</string>
	<key>less5</key>
	<string>less5.glif</string>
	<key>less6</key>
	<string>less6.glif</string>
	<key>less7</key>
	<string>less7.glif</string>
	<key>less8</key>
	<string>less8.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m1</key>
	<string>m1.glif</string>
	<key>m2</key>
	<string>m2.glif</string>
	<key>m3</key>
	<string>m3.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o1</key>
	<string>o1.glif</string>
	<key>o2</key>
	<string>o2.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one1</key>
	<string>one1.glif</string>
	<key>one2</key>
	<string>one2.glif</string>
	<key>one3</key>
	<string>one3.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r1</key>
	<string>r1.glif</string>
	<key>r2</key>
	<string>r2.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s1</key>
	<string>s1.glif</string>
	<key>s2</key>
	<string>s2.glif</string>
	<key>s3</key>
	<string>s3.glif</string>
	<key>s4</key>
	<string>s4.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven1</key>
	<string>seven1.glif</string>
	<key>seven2</key>
	<string>seven2.glif</string>
	<key>seven3</key>
	<string>seven3.glif</string>
	<key>seven4</key>
	<string>seven4.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t1</key>
	<string>t1.glif</string>
	<key>t2</key>
	<string>t2.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v1</key>
	<string>v1.glif</string>
	<key>v2</key>
	<string>v2.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w1</key>
	<string>w1.glif</string>
	<key>w2</key>
	<string>w2.glif</string>
	<key>w4</key>
	<string>w4.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero1</key>
	<string>zero1.glif</string>
	<key>zero2</key>
	<string>zero2.glif</string>
	<key>zero3</key>
	<string>zero3.glif</string>
</dict>
</plist>
